body{
  background-color: rgb(54, 54, 54);
}

.content {
  text-align: center;
  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imgsize{
  width: 800px;
  height: 400px;
  border-radius: 15px;
}

.persian{
  color: aliceblue;
  font-family: "Vazir";
}